/* .selected {
  background-color: #CFD8DC !important;
  background-color: rgb(0,120,215) !important;
  color: white;
} */
.products {
  margin: 4em 0 2em 0;
  list-style-type: none;
  /* display: inline-flex; */
}
.products li {
  cursor: pointer;
  position: relative;
  left: 0;
  /* background-color: #EEE; */
  margin: .5em;
  padding: .5em .5em .5em .5em;
  border-radius: 4px;
}
/* .products li:hover {
  color: #607D8B;
  color: rgba(214, 181, 15, 1);
  background-color: #DDD;
  left: .1em;
} */
.products li.selected:hover {
  color: white;
}
.products .text {
  position: relative;
  top: -3px;
}
.products .badge {
  display: inline-block;
  font-size: small;
  color: white;
  padding: 0.4em 0.7em 0.7em 0.7em;
  background-color: #607D8B;
  background-color: rgba(214, 181, 15, 1);
  line-height: 1em;
  position: relative;
  left: -1px;
  top: -4px;
  height: 1.8em;
  margin-right: .8em;
  border-radius: 4px 0 0 4px;
}



.navbar-default .navbar-nav > li.dropdown:hover > a, 
.navbar-default .navbar-nav > li.dropdown:hover > a:hover,
.navbar-default .navbar-nav > li.dropdown:hover > a:focus {
    background-color: rgb(231, 231, 231);
    color: rgb(85, 85, 85);
}
li.dropdown:hover > .dropdown-menu {
    display: block;
}

.lleft  {
  width: 100%;
  height:25px;
}

.dpb a {
  display: block;
  margin-bottom: 10px;
  padding: 5px;
  border-radius: 5px;
  color: #000 !important;
}

.dpb a:hover {
  background-color: #d6b50f !important;
  text-decoration: none;
  color : #ffffff !important;
}

.dpb p {
  display: block;
  margin-bottom: 10px;
  padding: 5px;
  border-radius: 5px;
  color: #000 !important;
}


.fs {
 color : #666666;
 font-size: 10px;
}



/* button {
  font-family: Arial;
  background-color: #eee;
  border: none;
  padding: 5px 10px;
  border-radius: 4px;
  cursor: pointer;
  cursor: hand;
  display: block;
}
button:hover {
  background-color: #cfd8dc;
}
.error {color:red;}
button.delete-button{
  float:right;
  background-color: gray !important;
  background-color: rgb(216,59,1) !important;
  color:white;
} */
