<div *ngIf="userName == null" class="modal-footer d-flex justify-content-center">
  
  <button (click)="socialSignIn('facebook')" type="button" mdbBtn class="btn-tw waves-light" mdbWavesEffect style="background-color: #3b5998"><i class="fa fa-facebook left"></i>Login with Facebook</button>
  <button (click)="socialSignIn('email')" type="button" mdbBtn class="btn-tw waves-light" mdbWavesEffect style="color: #000000"><i class="fa fa-at left"></i>Login with Email</button>


  <div *ngIf="user" style="width: max-content">
    <h2>Register</h2>
    <div>
      <label>Email: </label>
      <input [(ngModel)]="user.u_Email" placeholder="Email" />
    </div>
    <div>
      <label>Name: </label>
      <input [(ngModel)]="user.u_Name" placeholder="Name" />
    </div>
    <div>
      <label>Tel: </label>
      <input [(ngModel)]="user.u_Tel" placeholder="Tel" />
    </div>
    <div>
      <label>Gender: </label>
      <input [(ngModel)]="user.u_Gender" placeholder="Gender" />
    </div>
    <div>
      <label>Address: </label>
      <input [(ngModel)]="user.u_Address" placeholder="Address" />
    </div>
    <div>
      <!-- <button (click)="goBack()" *ngIf="this.navigated != false">Back</button> -->
      <button (click)="save()" class="buttonSave">Save</button>
    </div>
  </div>
</div>
