<div *ngIf="userName == null">
  <h1>
    Sign in
  </h1>

  <button (click)="socialSignIn('facebook')">Sign in with Facebook</button>
  <button (click)="socialSignIn('email')">Sign in with Email</button>

  <div *ngIf="user" style="width: max-content">
    <h2>Register</h2>
    <div>
      <label>Email: </label>
      <input [(ngModel)]="user.u_Email" placeholder="Email" />
    </div>
    <div>
      <label>Name: </label>
      <input [(ngModel)]="user.u_Name" placeholder="Name" />
    </div>
    <div>
      <label>Tel: </label>
      <input [(ngModel)]="user.u_Tel" placeholder="Tel" />
    </div>
    <div>
      <label>Gender: </label>
      <input [(ngModel)]="user.u_Gender" placeholder="Gender" />
    </div>
    <div>
      <label>Address: </label>
      <input [(ngModel)]="user.u_Address" placeholder="Address" />
    </div>
    <div>
      <!-- <button (click)="goBack()" *ngIf="this.navigated != false">Back</button> -->
      <button (click)="save()" class="buttonSave">Save</button>
    </div>
  </div>
</div>