<div class="col-md-12">
        <!--Featured image-->
        <div class="card card-cascade wider reverse">
                <div class="view view-cascade overlay">
                        <img src="{{picApi}}image/contact01.jpg" class="card-img-top img-fluid rounded mx-auto d-block w-75 wow zoomIn animated">
                        <div class="mask flex-center align-items-end waves-effect waves-light w-75 rgba-stylish-strong h-25 mr-auto ml-auto">
                                <p class="white-text" style="font-size: 80px">ห้างทองเยาวราช 101</p>
                        </div>
                </div>

                <!--Post data-->
                <div class="card-body card-body-cascade text-center">
                        <h2>
                                <a class="font-weight-bold" style="color:#dfc647;text-shadow: 1px 1px 2px black; font-size: 60px;">ประวัติความเป็นมา</a>
                        </h2>
                        <p style="font-size: 18px;" class="w-75 m-auto">
                                ก่อตั้งเมื่อวันที่ 1 มกราคม พศ 2535 โดยนายชัชชัย ธนสัมฤทธิ์ และนางบุศรา ธนสัมฤทธิ์
                                ได้เริ่มเปิดร้านทองโดยห้องขนาด 1 คูหา และต่อมาได้ขยายไปเป็น 5 คูหา จนถึงปัจจุบัน
                                เป็นเวลา 25 ปี เนื่องด้วย คุณภาพทองคำที่มีมาตรฐานฝีมือประณีต ลวดลายละเอียดอ่อนสวยงาม
                                ขั้นตอนที่พิถีพิถัน และการบริการด้วยความจริงใจจึงทำให้ลูกค้าทุกท่านมั่นใจ และไว้วางใจ
                                พร้อมมอบความมั่นใจให้กับลูกค้าทุกท่าน ตลอดอายุการใช้งาน
                        </p>

                </div>
                <!--Post data-->
        </div>
</div>