<img src="assets/image/contact01.jpg" class="img-fluid rounded mx-auto d-block" alt="Responsive image">

<br /> 
<div class="row justify-content-center"style="background: rgb(237, 237, 237);">
    <div class="col-sm-6" >
            <p style=" color: #dfc647; font-size: 20px;">
                    ก่อตั้งเมื่อวันที่ 1 มกราคม พศ 2535 โดยนายชัชชัย ธนสัมฤทธิ์ และนางบุศรา ธนสัมฤทธิ์
                    ได้เริ่มเปิดร้านทองโดยห้องขนาด 1 คูหา และต่อมาได้ขยายไปเป็น 5 คูหา จนถึงปัจจุบัน
                    เป็นเวลา 25 ปี เนื่องด้วย คุณภาพทองคำที่มีมาตรฐานฝีมือประณีต ลวดลายละเอียดอ่อนสวยงาม
                    ขั้นตอนที่พิถีพิถัน และการบริการด้วยความจริงใจจึงทำให้ลูกค้าทุกท่านมั่นใจ และไว้วางใจ
                    พร้อมมอบความมั่นใจให้กับลูกค้าทุกท่าน ตลอดอายุการใช้งาน
            </p>
    </div>
</div>