<!-- Start Add Product -->
<div *ngIf="productInput == undefined">
  <!-- <h2>{{this.title}}</h2> -->
  <div *ngIf="this.navigated != false" class="input-group mb-3">
    <div class="input-group-prepend">
      <span class="input-group-text">จำนวน</span>
    </div>
    <input type="text" class="form-control" [(ngModel)]="product.p_Amount">
  </div>
  <button *ngIf="this.navigated != false" class="btn btn-success btn-sm float-right" style (click)="addtoCart(product)">Add
    to cart</button>
  <div>
    <img src="https://i.imgur.com/qpM1ifY.jpg" *ngIf="this.navigated != false">
  </div>
  <div class="md-form">
    <input style="line-height: normal;" type="text" [(ngModel)]="product.p_Id" placeholder="Id" class="form-control "
      hidden />
  </div>
  <div class="md-form">
    <input style="line-height: normal;" type="text" [(ngModel)]="product.p_Name" placeholder="Name" class="form-control " />
  </div>
  <div class="md-form">
    <select class="form-control" style="border: none;border-bottom: 1px solid #ced4da; line-height: normal;" type="text"
      [(ngModel)]="product.p_Type" placeholder="Type">
      <option value="สร้อยคอ">สร้อยคอ</option>
      <option value="แหวน">แหวน</option>
    </select>
  </div>
  <div class="md-form">
    <input style="line-height: normal;" type="text" [(ngModel)]="product.p_PercentGold" placeholder="Percent Gold"
      class="form-control " />
  </div>
  <div class="md-form">
    <input style="line-height: normal;" type="text" [(ngModel)]="product.p_Weight" placeholder="Weight" class="form-control " />
  </div>
  <div class="md-form">
    <input style="line-height: normal;" type="text" [(ngModel)]="product.p_Length" placeholder="Length" class="form-control " />
  </div>
  <div class="md-form">
    <input style="line-height: normal;" type="text" [(ngModel)]="product.p_Price" placeholder="Price" class="form-control " />
  </div>

  <input type="file" name="photo" accept=".jpg" ng2FileSelect [uploader]="uploader" />

  <div>
    <button (click)="goBack()" *ngIf="this.navigated != false" class="btn btn-secondary btn-sm">Back</button>
    <!-- <button (click)="save()" class="btn btn-success btn-sm float-right">Save</button> -->
  </div>
  <div class="modal-footer d-flex justify-content-center">
    <button (click)="save()" class="btn btn-success btn-sm float-right" [disabled]="!uploader.getNotUploadedItems().length">Save
      <i class="fa fa-paper-plane-o ml-1"></i></button>
  </div>
</div>
<!-- End Add Product -->





<!-- Start Select Product -->
<div *ngIf="productInput != undefined">
  <!-- <h2>{{this.title}}</h2> -->
  <!-- <div *ngIf="this.navigated != false" class="input-group mb-3">
    <div class="input-group-prepend">
      <span class="input-group-text">จำนวน</span>
    </div>
    <input type="text" class="form-control" [(ngModel)]="product.p_Amount">
  </div> -->
  <!-- <button *ngIf="this.navigated != false" class="btn btn-success btn-sm float-right" style (click)="addtoCart(product)">Add
    to cart</button> -->
  <div class="container">
    <div class="row">
      <div class="col-md-6">
        <div class="zoom view overlay">
          <img *ngIf="productInput.p_Type == 'สร้อยคอ'" src="{{ picApi }}image/products/{{ productInput.p_Id }}.jpg"
            style="width: 225px; height: 300px;" class="img-fluid rounded mx-auto d-block">
          <img *ngIf="productInput.p_Type == 'แหวน'" src="{{ picApi }}image/products/{{ productInput.p_Id }}.jpg" style="width: 225px; height: 216px;" class="img-fluid rounded mx-auto d-block">
        </div>
      </div>
      <div class="col-md-6">
        <div class="md-form">
          <input style="line-height: normal;" type="text" [(ngModel)]="productInput.p_Id" placeholder="Id" class="form-control "
            hidden />
        </div>
        <div class="md-form">
          <input style="line-height: normal;" type="text" [(ngModel)]="productInput.p_Name" placeholder="Name" class="form-control " />
        </div>
        <div class="md-form">
          <select class="form-control" style="border: none;border-bottom: 1px solid #ced4da; line-height: normal;" type="text"
            [(ngModel)]="productInput.p_Type" placeholder="Type">
            <option value="สร้อยคอ">สร้อยคอ</option>
            <option value="แหวน">แหวน</option>
          </select>
        </div>
        <div class="md-form">
          <input style="line-height: normal;" type="text" [(ngModel)]="productInput.p_PercentGold" placeholder="Percent Gold"
            class="form-control " />
        </div>
        <div class="md-form">
          <input style="line-height: normal;" type="text" [(ngModel)]="productInput.p_Weight" placeholder="Weight"
            class="form-control " />
        </div>
        <div class="md-form">
          <input style="line-height: normal;" type="text" [(ngModel)]="productInput.p_Length" placeholder="Length"
            class="form-control " />
        </div>
        <div class="md-form">
          <input style="line-height: normal;" type="text" [(ngModel)]="productInput.p_Price" placeholder="Price" class="form-control " />
        </div>

        
        <input type="file" name="photo" accept=".jpg" ng2FileSelect [uploader]="uploader" />

        <div>
          <button (click)="goBack()" *ngIf="this.navigated != false" class="btn btn-secondary btn-sm">Back</button>
          <!-- <button (click)="save()" class="btn btn-success btn-sm float-right">Save</button> -->
        </div>
        <div class="modal-footer d-flex justify-content-center">
          <button (click)="save()" class="btn btn-success btn-sm float-right" [disabled]="!uploader.getNotUploadedItems().length">Save
            <i class="fa fa-paper-plane-o ml-1"></i></button>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- End Select Product -->