<div *ngIf="product">
  <!-- <h2>{{this.title}}</h2> -->
  <div *ngIf="this.navigated != false" class="input-group mb-3">
    <div class="input-group-prepend">
      <span class="input-group-text">จำนวน</span>
    </div>
    <input type="text" class="form-control" [(ngModel)]="product.p_Amount">
  </div>
  <button *ngIf="this.navigated != false" class="btn btn-success btn-sm float-right" style (click)="addtoCart(product)">Add
    to cart</button>
  <div>
    <img src="https://i.imgur.com/qpM1ifY.jpg" *ngIf="this.navigated != false">
  </div>
  <div class="md-form">
    <input type="text" [(ngModel)]="product.p_Id" placeholder="Id" class="form-control validate" />
  </div>
  <div class="md-form">
    <input type="text" [(ngModel)]="product.p_Name" placeholder="Name" class="form-control validate" />
  </div>
  <div class="md-form">
    <input type="text" [(ngModel)]="product.p_Type" placeholder="Type" class="form-control validate" />
  </div>
  <div class="md-form">
    <input type="text" [(ngModel)]="product.p_PercentGold" placeholder="Percent Gold" class="form-control validate" />
  </div>
  <div class="md-form">
    <input type="text" [(ngModel)]="product.p_Weight" placeholder="Weight" class="form-control validate" />
  </div>
  <div class="md-form">
    <input type="text" [(ngModel)]="product.p_Length" placeholder="Length" class="form-control validate" />
  </div>
  <div class="md-form">
    <input type="text" [(ngModel)]="product.p_Price" placeholder="Price" class="form-control validate" />
  </div>
  <div>
    <button (click)="goBack()" *ngIf="this.navigated != false" class="btn btn-secondary btn-sm">Back</button>
    <!-- <button (click)="save()" class="btn btn-success btn-sm float-right">Save</button> -->
  </div>
  <div class="modal-footer d-flex justify-content-center">
      <button (click)="save()" class="btn btn-success btn-sm float-right">Save <i class="fa fa-paper-plane-o ml-1"></i></button>
  </div>
</div>