<input [(ngModel)]="searchProductText" placeholder="search ...">
<h2>My Products</h2>
<ul class="products">
  <div *ngFor="let product of products | productFilter : searchProductText">
    <li (click)="onSelect(product)" [class.selected]="product === selectedProduct">
      <span class="product-element">
        <span class="badge">{{product.p_Id}}</span> {{product.p_Name}}
        <img src="https://i.imgur.com/qpM1ifY.jpg">
      </span>
    </li>
    <button class="delete-button" (click)="deleteProduct(product)">Delete</button>
  </div>
</ul>

<div class="error" *ngIf="error">{{error}}</div>

<button (click)="addProduct()">Add New Product</button>
<div *ngIf="addingProduct">
  <my-product-detail (close)="close($event)"></my-product-detail>
</div>

<div>
  <style>
    .hidden {
      visibility: hidden
    }
    
  </style>
</div>