<div class="col-md-12" align="center">
  <div class="card card-cascade wider reverse" style="padding : 20px;" [ngStyle]="{'background-image': 'url('+picApi+'image/bg_w.jpg)'}">
    <div class="view view-cascade overlay ">
      <div class="card-deck">
        <div class="card mb-4" style="height: fit-content">
          <div class="view overlay">
            <img class="card-img-top" src="{{picApi}}image/content01.jpg" alt="Card image cap">
            <a href="#!" data-toggle="modal" data-target="#modalContent">
              <div class="mask rgba-white-slight"></div>
            </a>
          </div>
          <div class="card-body">
            <h4 class="card-title">ซื้อทองคำแท่งยังไงให้เก็บไว้ขายในอนาคตแล้วได้ราคา</h4>
            <hr>
            <a href="" class="black-text d-flex justify-content-end" data-toggle="modal" data-target="#modalContent">
              <h5 style="color:#a0c6e8">Read more <i class="fa fa-angle-double-right"></i></h5>
            </a>
          </div>
        </div>

        <div class="card mb-4" style="height: fit-content" >
          <div class="view overlay">
            <img class="card-img-top" src="{{picApi}}image/content02.jpg" alt="Card image cap">
            <a href="#!" data-toggle="modal" data-target="#modalContent2">
              <div class="mask rgba-white-slight"></div>
            </a>
          </div>
          <div class="card-body">
            <h4 class="card-title">ซื้อทองที่ไหนก็ได้ไม่เท่า ที่ “ห้างทองเยาวราช”</h4>
            <hr>
            <a href="" class="black-text d-flex justify-content-end" data-toggle="modal" data-target="#modalContent2">
              <h5 style="color:#a0c6e8">Read more <i class="fa fa-angle-double-right"></i></h5>
            </a>

          </div>

        </div>
        

        <!-- Card -->
        <div class="card mb-4" style="height: fit-content">

          <!--Card image-->
          <div class="view overlay">
            <img class="card-img-top" src="{{picApi}}image/content03.jpg" alt="Card image cap">
            <a href="#!" data-toggle="modal" data-target="#modalContent3">
              <div class="mask rgba-white-slight"></div>
            </a>
          </div>

          <!--Card content-->
          <div class="card-body">

            <!--Title-->
            <h4 class="card-title">วัด Size แหวนได้ด้วยตัวคุณเอง 💍💍</h4>
            <!--Text-->
            <hr>
            <!-- <p class="card-text">สำหรับท่านใดที่อาจจะไม่รู้ไซซ์แหวนของตัวเอง
          ทางร้านเรามีวิธีวัดขนาดนิ้วมือ ให้เลือกใส่แหวนแบบ
          สวยพอดีไม่มีพลาด มาฝากกันค่ะ 
          
          สิ่งที่ต้องเตรียม ได้แก่ เส้นดาย ปากกาเมจิก และไม้บรรทัด
          ส่วนวิธีก็ง่ายมากเลยค่ะ นำด้ายพันรอบนิ้วบริเวณที่สวมแหวน
          ใช้เมจิกทำเครื่องหมายไว้ตรงที่ด้ายประกบกันพอดี
          
          จากนั้นนำไม้บรรทัดมาวัดความยาวของเส้นด้าย (หน่วยวัดมิลลิเมตร)
          และนำไปเทียบกับตารางขนาดแหวนเท่านี้ก็ได้ไซซ์แหวนที่พอดี
          ใส่แล้วสบายนิ้ว ไม่รัดแน่หรือลวมจนเกินไปแล้วค่ะ
          
          รู้วิธีการวัด Size แหวนกันแล้ว ลองเอาไปทำกันดูนะคะ
          คิดจะซื้อแหวนทองให้นึกถึง #บริษัทห้างทองเยาวราช จำกัด
          
          ทองลายสวย ทองประณีต ที่สำคัญราคาเป็นกันเอง
          สนใจลายทองแบบไหนสามารถสอบถามได้เลยนะคะ</p> -->
            <!-- Provides extra visual weight and identifies the primary action in a set of buttons -->
            <a href="" class="black-text d-flex justify-content-end" data-toggle="modal" data-target="#modalContent3">
              <h5 style="color:#a0c6e8">Read more <i class="fa fa-angle-double-right"></i></h5>
            </a>

          </div>

        </div>
        <!-- Card -->

      </div>
      <!-- Card deck -->

    </div>
  </div>

</div>


<!-- modalContent -->
<div class="modal fade" id="modalContent" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header text-center">
        <h4 class="modal-title w-100 font-weight-bold">ซื้อทองคำแท่งยังไงให้ได้ราคา</h4>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body mx-3">
        <div class="md-form mb-5">
          <img class="card-img-top" src="{{picApi}}image/content01.jpg" alt="content01">
        </div>
        <hr>
        <div class="md-form mb-4">
          <p class="card-text">ซื้อทองคำแท่งยังไงให้เก็บไว้ขายในอนาคตแล้วได้ราคา
            ง่ายๆ เลยค่ะ ถ้าอยากซื้อทองคำแท่งมาเก็บเพื่อเก็งราคา
            รอขายกินกำไรเมื่อทองคำขึ้นราคา #ต้องติดตาม
            .
            เมื่ออยากซื้อทองคำแท่งมาเก็บไว้เพื่อเก็งกำไรในระยะยาว
            มีคำแนะนำถ้าทองคำแท่งขนาดเล็กกว่า 5 บาท ให้เลือก
            แบบที่มีซีลพลาสติกจะดีกว่านะคะ เพราะจะมีการล็อค
            แท่งทองให้เคลื่อนไหวได้น้อย ฉะนั้น จะช่วยลดการเกิด
            รอยตำหนิ การบุบของเนื้อทอง ลดความเสี่ยงที่จะทำให้
            น้ำหนักทองหายไประหว่างที่เก็บ และไม่ควรแกะซีลพลาสติก
            หากไม่จำเป็นด้วยนะคะ เวลาขายจะได้ราคาดีแน่นอน
            .
            .
            มองหาทองคำเนื้อดี ได้มาตรฐาน และไว้ใจได้
            เลือก บริษัทห้างทองเยาวราช จำกัด ไม่มีผิดหวังค่ะ</p>
        </div>
        
      </div>
      <div class="modal-footer d-flex justify-content-center">
        <!-- <button type="button" class="btn btn-outline-info waves-effect ml-auto" data-dismiss="modal">Close</button> -->
      </div>
    </div>
  </div>
</div>


<!-- modalContent2 -->
<div class="modal fade" id="modalContent2" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header text-center">
        <h4 class="modal-title w-100 font-weight-bold">ซื้อทองคำแท่งยังไงให้ได้ราคา</h4>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body mx-3">
        <div class="md-form mb-5">
          <img class="card-img-top" src="{{picApi}}image/content02.jpg" alt="content02">
        </div>
        <hr>
        <div class="md-form mb-4">
          <p class="card-text">บอกเลยว่า ซื้อทองที่ไหนก็ได้ไม่เท่า ที่ “ห้างทองเยาวราช” 
            ทองถูกใจ งานดี งานมีมาตรฐาน เท่านั้นยังไม่พอ‼
            
            ✨ พี่โกมุ ✨ แจกของสัมมนาคุณอีกไม่อั้น 
            อาจเป็นกิจกรรมพิเศษๆ จากทางร้าน 
            หรือโอกาสพิเศษมากมาย ถ้าใครไม่อยากพลาด
            ของพรีเมียมสุดพิเศษจาก ✨ พี่โกมุ ✨
            ต้องติดตามกิจกรรมจากทางร้านให้ดีนะคะ รับรองว่าฟิน‼
            
            มองหางานทองถูกใจ นึกถึงห้างทองเยาวราช</p>
        </div>
        
      </div>
      <div class="modal-footer d-flex justify-content-center">
        <!-- <button type="button" class="btn btn-outline-info waves-effect ml-auto" data-dismiss="modal">Close</button> -->
      </div>
    </div>
  </div>
</div>



<!-- modalContent3 -->
<div class="modal fade" id="modalContent3" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header text-center">
        <h4 class="modal-title w-100 font-weight-bold">ซื้อทองคำแท่งยังไงให้ได้ราคา</h4>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body mx-3">
        <div class="md-form mb-5">
          <img class="card-img-top" src="{{picApi}}image/content03.jpg" alt="content03">
        </div>
        <hr>
        <div class="md-form mb-4">
          <p class="card-text">วัด Size แหวนได้ด้วยตัวคุณเอง 💍💍

            สำหรับท่านใดที่อาจจะไม่รู้ไซซ์แหวนของตัวเอง
            ทางร้านเรามีวิธีวัดขนาดนิ้วมือ ให้เลือกใส่แหวนแบบ
            สวยพอดีไม่มีพลาด มาฝากกันค่ะ 
            
            สิ่งที่ต้องเตรียม ได้แก่ เส้นดาย ปากกาเมจิก และไม้บรรทัด
            ส่วนวิธีก็ง่ายมากเลยค่ะ นำด้ายพันรอบนิ้วบริเวณที่สวมแหวน
            ใช้เมจิกทำเครื่องหมายไว้ตรงที่ด้ายประกบกันพอดี
            
            จากนั้นนำไม้บรรทัดมาวัดความยาวของเส้นด้าย (หน่วยวัดมิลลิเมตร)
            และนำไปเทียบกับตารางขนาดแหวนเท่านี้ก็ได้ไซซ์แหวนที่พอดี
            ใส่แล้วสบายนิ้ว ไม่รัดแน่หรือลวมจนเกินไปแล้วค่ะ
            
            รู้วิธีการวัด Size แหวนกันแล้ว ลองเอาไปทำกันดูนะคะ
            คิดจะซื้อแหวนทองให้นึกถึง #บริษัทห้างทองเยาวราช จำกัด
            
            ทองลายสวย ทองประณีต ที่สำคัญราคาเป็นกันเอง</p>
        </div>
        
      </div>
      <div class="modal-footer d-flex justify-content-center">
        <!-- <button type="button" class="btn btn-outline-info waves-effect ml-auto" data-dismiss="modal">Close</button> -->
      </div>
    </div>
  </div>
</div>