<div class="col-md-12 mt-1 mb-3" align="center" style="margin-top:-3em;">
    <img src="{{picApi}}image/pro970x90.jpg" class="img-fluid" alt="Responsive image">
</div>
<div class="row mb-4" *ngIf="userRole == 'admin'">
    <div class="col-md-3">
      <button type="button" class="btn btn-rounded btn-amber float-left" data-toggle="modal" data-target="#modalAddPromotion"
        style="color : #000 !important;">Add Promotion</button>
    </div>
  </div>

<div class="col-md-12" align="center">
    <!--Featured image-->
    <!-- <div class="card card-cascade wider reverse" style="padding : 20px;"> -->
        <div class="view view-cascade overlay ">

            <!-- Card Light -->
            <div class="card col-md-6" style="padding :0 !important;">

                <!-- Card image -->
                <div class="view overlay">
                    <img class="card-img-top" src="{{picApi}}image/pro01.jpg" alt="Card image cap" >
                    <a>
                        <div class="mask rgba-white-slight"></div>
                    </a>
                </div>

                <!-- Card content -->
                <div class="card-body card-body-cascade text-center" style="background-color : #fff;">

                    <!-- Social shares button -->
                    <!-- <a class="activator waves-effect waves-light mr-4"><i class="fa fa-share-alt"></i></a> -->
                    <!-- Title -->
                    <h4 class="card-title w-100 m-auto" style="font-size: 2.5vw;">“ห้างทองเยาวราช” ให้คุณผ่อนสบายๆ 0% นาน 10 เดือน</h4>
                    <hr>
                    <!-- Text -->
                    <p class="card-text w-100 m-auto" style="font-size: 1.4vw;">ชาวอีสานห้ามพลาด‼ เปลี่ยนการซื้อทองเป็นเรื่องง่ายๆ 
                        “ห้างทองเยาวราช” ให้คุณผ่อนสบายๆ 0% นาน 10 เดือน 
                        #ไม่มีค่าธรรมเนียมรูด #รูดผ่อนได้เฉพาะภาคอีสานเท่านั้น
                        พิเศษ‼ ทุกธุรกรรมสะสมแต้มแลกของรางวัลพรีเมี่ยมได้
                        </p>
                    <!-- Link -->
                    <a target="_blank" href="https://line.me/R/ti/p/%40yaowarat" class="black-text d-flex justify-content-end">
                        <h5 style="color:#a0c6e8">Read more <i class="fa fa-angle-double-right"></i></h5>
                    </a>

                </div>

            </div>
            <!-- Card Light -->


        </div>
    <!-- </div> -->

</div>


<!-- Modal -->
<div class="modal fade right" id="modalAddPromotion" tabindex="-1" role="dialog" aria-labelledby="modalAddPromotion"
  aria-hidden="true">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalPreviewLabel">Add Promotion</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div class="form-group row">
          <div class="col-sm-12">
            <input type="text" class="form-control" id="inputHeaderContent" placeholder="หัวเรื่อง">
          </div>
        </div>
        <div class="form-group row">
          <div class="col-sm-12">

            <!-- <app-ngx-editor [config]="editorConfig" [placeholder]="'Enter text here...'" [spellcheck]="true"
              [(ngModel)]="htmlContent"></app-ngx-editor> -->

          </div>
        </div>

        <div class="form-group row">
          <div class="col-sm-12">
            รูปภาพ
            <input type="file" name="photoorder" accept=".jpg" />
          </div>
        </div>

        <!-- <div *ngIf="htmlContent">
          <h6>HTML Output</h6>
          <div class="html">
            {{ htmlContent }}
          </div>
        </div> -->
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary">Save changes</button>
      </div>
    </div>
  </div>
</div>
<!-- Modal -->
