<div class="col-md-12 mt-1 mb-3" align="center" style="margin-top:-3em;">
    <img src="{{picApi}}image/pro970x90.jpg" class="img-fluid" alt="Responsive image">
</div>

<div class="col-md-12" align="center">
    <!--Featured image-->
    <!-- <div class="card card-cascade wider reverse" style="padding : 20px;"> -->
        <div class="view view-cascade overlay ">

            <!-- Card Light -->
            <div class="card col-md-6" style="padding :0 !important;">

                <!-- Card image -->
                <div class="view overlay">
                    <img class="card-img-top" src="{{picApi}}image/pro900x900.png" alt="Card image cap" >
                    <a>
                        <div class="mask rgba-white-slight"></div>
                    </a>
                </div>

                <!-- Card content -->
                <div class="card-body card-body-cascade text-center" style="background-color : #fff;">

                    <!-- Social shares button -->
                    <!-- <a class="activator waves-effect waves-light mr-4"><i class="fa fa-share-alt"></i></a> -->
                    <!-- Title -->
                    <h4 class="card-title w-100 m-auto" style="font-size: 2.5vw;">“ห้างทองเยาวราช” ให้คุณผ่อนสบายๆ 0% นาน 10 เดือน</h4>
                    <hr>
                    <!-- Text -->
                    <p class="card-text w-100 m-auto" style="font-size: 1.4vw;">ชาวอีสานห้ามพลาด‼ เปลี่ยนการซื้อทองเป็นเรื่องง่ายๆ 
                        “ห้างทองเยาวราช” ให้คุณผ่อนสบายๆ 0% นาน 10 เดือน 
                        #ไม่มีค่าธรรมเนียมรูด #รูดผ่อนได้เฉพาะภาคอีสานเท่านั้น
                        พิเศษ‼ ทุกธุรกรรมสะสมแต้มแลกของรางวัลพรีเมี่ยมได้
                        </p>
                    <!-- Link -->
                    <a target="_blank" href="https://line.me/R/ti/p/%40yaowarat" class="black-text d-flex justify-content-end">
                        <h5 style="color:#a0c6e8">Read more <i class="fa fa-angle-double-right"></i></h5>
                    </a>

                </div>

            </div>
            <!-- Card Light -->


        </div>
    <!-- </div> -->

</div>
