h1 {
  font-size: 1.2em;
  color: #999;
  color: #555;
  margin-bottom: 0;
}
h2 {
  font-size: 2em;
  margin-top: 0;
  padding-top: 0;
}
nav a {
  padding: 5px;
  text-decoration: none;
 
  display: inline-block;
  /* background-color: #eee; */
  border-radius: 4px;
}

.navbar {
  padding: 0rem !important;
}

.nav-link{
  color: #e7c74d !important;
  padding: 0.5rem 1rem !important;
}
.nav-link:hover{
  color: #eee !important;
  /* background-color: red; */
  border-radius: 0 !important;
}

nav a:visited, a:link {
  color: #607D8B;
}
nav a:hover {
  color: #039be5;
  
}
nav a.router-link-active {
  color: #039be5;
}
.header-bar {
  background-color: rgb(0,120,215);
  height: 4px;
  margin-top: 10px;
  margin-bottom: 10px;
}


/* footer */
.bg-primary {
  background-color: red !important;
 }
 
 .bg-footer {
  background-color: #343a40 !important;
 }

 .bg-circle
 {
   display: inline-block;
   width: 60px;
   height: 60px;
   padding: 14px 4px;
   color: #ececec;
   text-align: center;
   border-radius: 50%;
 }
 
 .bg-circle-outline
 {
   width: 50px;
   height: 50px;
   color:smoke;
   padding: 8px 2px;
   border: 2px solid;
   border-color: smoke;
   border-radius: 50%;
 }
 
 
 .bg-circle a, a:hover, .media a:focus
 {
   text-decoration: none !important;
   outline: none;
   color: #ececec;
 }
 .bg-circle-outline a, a:hover, .media a:focus
 {
   text-decoration: none !important;
   outline: none;
   color: #ececec;
 }

 .mari {
   margin-right: 15px;
 }

 /* footer end */
 

 .dd a:hover {
  background-color: #b90216;
  color :#fff;
 }
 .rr a:hover {
  background-color: #d6b50f;
  color :#fff; 
 }

 .fz {
  font-size: 22px; 
   /* font-size: 15px !important; */
  color: black !important;
 }

 .testpop {
 
    position: fixed;
    bottom : 0;
    right: 6em ;
    width: auto ;
    border: 3px solid #fcf173;
    border-radius : 3em 3em 0 0;
    border-bottom : 0 ; 
    padding: 0.5em 1em 0;
    text-align: center;
    background-color: #ff0000c7;
    color : #fff;
    cursor: pointer;
    display: block;
  
 }

 .testpop2 {
 
  position: fixed;
  bottom : 0;
  right: 14.5em ;
  width: auto ;
  border: 3px solid #fcf173;
  border-radius : 3em 3em 0 0;
  border-bottom : 0 ; 
  padding: 0.5em 1em 0;
  text-align: center;
  background-color: #ff0000c7;
  color : #fff;
  cursor: pointer;
  display: block;

}


.testpop3 {
 
  position: fixed;
  bottom : 0;
  right: 14.5em ;
  cursor: pointer;
  display: block;
  z-index: 1500;

}


 .vertical-text {
	transform: rotate(90deg);
	
}

.user a {
  display: block;
}

.dropdown:hover .dropdown-menu {display: block;}

/* test dropdown */

.ddd {
  float: left;
  overflow: hidden;
}

.ddd .dbtn {
  font-size: 22px;    
  border: none;
  outline: none;
  color: #fcf173;
  padding: 14px 16px;
  background-color: inherit;
  font-family: inherit;
  margin: 0;
}

.ddd-ct { 
  display: none;
  position: absolute;
  background-color: white;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.ddd-ct a {
  float: none;
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}

.ddd:hover .dbtn {
background-color: #555;
color: white;
border-radius: 0 !important;
}

.ddd-ct a:hover {
  background-color: #ddd;
  color: black !important;
  border-radius: 0 !important;
}

.ddd:hover .ddd-ct {
  display: block;
}

@media screen and (max-width: 768px) {
.ddd .dbtn {
  display: none;
  width: 100% !important;
}

.ddd {float: none;width: 100% !important;}
.ddd-ct {position: relative;width: 100% !important;background-color: #fff !important;}
.fz {color :#000 !important;}
.ddd .dbtn {
  display: block;
  width: 100%;
  text-align: left;
  width: 100% !important;
}
.nav {float: none;width: 100% !important;}
}