h1 {
  font-size: 1.2em;
  color: #999;
  color: #555;
  margin-bottom: 0;
}
h2 {
  font-size: 2em;
  margin-top: 0;
  padding-top: 0;
}
nav a {
  padding: 5px 10px;
  text-decoration: none;
  margin-top: 10px;
  display: inline-block;
  /* background-color: #eee; */
  border-radius: 4px;
}
.nav-link{
  color: red !important;
}
nav a:visited, a:link {
  color: #607D8B;
}
nav a:hover {
  color: #039be5;
  background-color: rgba(255, 255, 255, 0.3);
}
nav a.router-link-active {
  color: #039be5;
}
.header-bar {
  background-color: rgb(0,120,215);
  height: 4px;
  margin-top: 10px;
  margin-bottom: 10px;
}


/* footer */
.bg-primary {
  background-color: #000 !important;
 }
 
 .bg-footer {
  background-color: #343a40 !important;
 }

 .bg-circle
 {
   display: inline-block;
   width: 60px;
   height: 60px;
   padding: 14px 4px;
   color: #ececec;
   text-align: center;
   border-radius: 50%;
 }
 
 .bg-circle-outline
 {
   width: 50px;
   height: 50px;
   color:smoke;
   padding: 8px 2px;
   border: 2px solid;
   border-color: smoke;
   border-radius: 50%;
 }
 
 
 .bg-circle a, a:hover, .media a:focus
 {
   text-decoration: none !important;
   outline: none;
   color: #ececec;
 }
 .bg-circle-outline a, a:hover, .media a:focus
 {
   text-decoration: none !important;
   outline: none;
   color: #ececec;
 }


 /* footer end */
 